# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
#!pip install -U scipy

Requirement already satisfied: scipy in /Users/lucia/anaconda3/lib/python3.11/site-packages (1.12.0)
Requirement already satisfied: numpy<1.29.0,>=1.22.4 in /Users/lucia/anaconda3/lib/python3.11/site-packages (from scipy) (1.26.3)

In [2]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [3]:
# Your code here:

salaries_data = pd.read_csv('Salaries.csv', low_memory=False)

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:

salaries_data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [5]:
# Your code here:

salaries_data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [6]:
# Your code here:

salaries_data.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [7]:
# Your code here:

salaries_data.drop(['Notes'], axis=1, inplace=True)

In [8]:
salaries_data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [9]:
# Your code here:

salaries_data['Status'].unique()

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [10]:
# Your code here:

salaries_data.dropna(axis=0, how='any', inplace=True)

In [11]:
salaries_data.reset_index(drop=True, inplace=True)

In [12]:
salaries_data.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [13]:
# Your code here:

salaries_data.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Agency               object
Status               object
dtype: object

Do any type conversions and reset the index.

In [14]:
# Your code here:

salaries_data['BasePay']=salaries_data['BasePay'].astype('float64')
salaries_data['OvertimePay']=salaries_data['OvertimePay'].astype('float64')
salaries_data['OtherPay']=salaries_data['OtherPay'].astype('float64')
salaries_data['Benefits']=salaries_data['Benefits'].astype('float64')

In [15]:
# Review types

salaries_data.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Agency               object
Status               object
dtype: object

In [16]:
display(salaries_data)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT
...,...,...,...,...,...,...,...,...,...,...,...,...
38114,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
38115,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
38116,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
38117,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
38118,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [17]:
# Your code here:

condition_result = (salaries_data['BasePay'] + salaries_data['OvertimePay'] + salaries_data['OtherPay'] + salaries_data['Benefits']) == salaries_data['TotalPayBenefits']

print(condition_result)

0         True
1        False
2         True
3        False
4         True
         ...
38114     True
38115     True
38116     True
38117     True
38118     True
Length: 38119, dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [18]:
# Your code here:

condition_false = condition_result == False

condition_false.sum() / len(condition_result)

0.2629135076995724

There are different departments in the city. List all departments and the count of employees in each department.

In [19]:
# Your code here:

departments = salaries_data.groupby('JobTitle')['Id'].count()
display(departments)

JobTitle
ACPO,JuvP, Juv Prob (SFERS)        1
ASR Senior Office Specialist      22
ASR-Office Assistant              15
Account Clerk                     93
Accountant I                       2
                                  ..
Wire Rope Cable Maint Sprv         1
Worker's Comp Supervisor 1         6
Worker's Compensation Adjuster    26
X-Ray Laboratory Aide             35
Youth Comm Advisor                 1
Name: Id, Length: 996, dtype: int64

#

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [20]:
# Your code here: (compute the "Hourly_Wage")

salaries_data['hourly_wage'] = salaries_data['TotalPayBenefits'] / 50 / 40

display(salaries_data)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,hourly_wage
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38114,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000000
38115,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000000
38116,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000000
38117,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000000
38118,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT,-0.309065

In [21]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)

salaries_data_ft = salaries_data[salaries_data['Status'] == 'FT']
mean_hourly_wage = salaries_data_ft['hourly_wage'].mean()
mean_hourly_wage

69.26420640727143

In [58]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

from scipy.stats import ttest_1samp

t_stat = (np.mean(salaries_data_ft['hourly_wage']) - 75)/(np.std(salaries_data_ft['hourly_wage'], ddof=1)/np.sqrt(len(salaries_data_ft)))
print("The value of the statistic is: ",t_stat)

The value of the statistic is:  -35.80631941460526

In [61]:
# Method 1: Critical value (rejection regions). Get the critical value and compare it against your statistic.
# Your code here: 

from scipy.stats import t

alpha = 0.05 # Confidence interval of 95%

degrees_of_freedom = len(salaries_data_ft) - 1

critical_value_lower = t.ppf(alpha / 2, degrees_of_freedom)
critical_value_upper = t.ppf(1 - alpha / 2, degrees_of_freedom)

print(f"Critical Values: {critical_value_lower}, {critical_value_upper}")

# The t_statistic is way outside of the critical values. Therefore, we can reject the null hypothesis.

Critical Values: -1.9600702128845597, 1.9600702128845593

In [62]:
# Method 2: Use the p-value method.

import scipy.stats

p_val = st.t.cdf(t_stat, degrees_of_freedom)
print('P-value: {:.3f}'.format(p_val))

# The p_value is smaller than the significance level (0.05). Therefore, we reject the null hypothesis.

P-value: 0.000

In [31]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

stat, pval = ttest_1samp(salaries_data_ft['hourly_wage'], popmean = 75, alternative = "two-sided")
stat, pval 

# We got the same values as before, rejecting the null hypothesis.

(-35.80631941460526, 4.517831233839447e-273)

Are all the methods in agreement? Yes!

We are also curious about salaries in the police force. The chief of police in San Francisco claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits"). Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check if "Police" is in the "JobTitle" to get all the "Police" jobs.

In [32]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

police_jobs = salaries_data[salaries_data['JobTitle'].apply(lambda title: 'Police' in title)]
police_jobs

t = (np.mean(police_jobs['TotalPayBenefits']) - 86000)/(np.std(police_jobs['TotalPayBenefits'], ddof=1)/np.sqrt(len(police_jobs)))
print("The value of the statistic is: ",t)

The value of the statistic is:  50.252984742109945

In [33]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here: 

alpha = 0.05 # Confidence interval of 95%

degrees_of_freedom = len(police_jobs) - 1

critical_value = scipy.stats.t.ppf(0.05, df=len(police_jobs)-1)

print(f"Critical Value: {critical_value}")

# The t_statistic is way outside of the critical value (and it's even bigger than it). Therefore, we can accept the null hypothesis.

Critical Value: -1.645656004264731

In [34]:
# Method 2: Use the p-value method.
# Your code here:

import scipy.stats as st

p_val = st.t.cdf(t, degrees_of_freedom)
print('p-value: {:.3f}'.format(p_val))

# From the previous calculation, the p_value is bigger than the significa level (0.05). Therefore, we accept the null hypothesis

p-value: 1.000

In [35]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

stat, pval = ttest_1samp(police_jobs['TotalPayBenefits'], popmean = 86000, alternative = "less")
stat, pval 

# We got the same values as with the other methods. All methods are in agreement.

(50.252984742109945, 1.0)

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [36]:
# Your code here: (Get the department which has most employees)

salaries_data['JobTitle'].value_counts().index[0]

'Transit Operator'

In [37]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

transit_operator = salaries_data[salaries_data['JobTitle'] == 'Transit Operator']
transit_operator

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,hourly_wage
3223,113755,Nancy Padilla,Transit Operator,70636.56,78492.00,6636.63,38481.57,155765.19,194246.76,2014,San Francisco,FT,97.123380
3537,114069,Louis E Galarce,Transit Operator,71278.32,73221.72,6785.53,38861.51,151285.57,190147.08,2014,San Francisco,FT,95.073540
3766,114298,Duane Allen,Transit Operator,70029.28,69941.99,8592.74,38733.41,148564.01,187297.42,2014,San Francisco,FT,93.648710
4380,114912,Jaime O Olivar,Transit Operator,68842.56,65726.67,8828.06,38206.75,143397.29,181604.04,2014,San Francisco,FT,90.802020
4891,115423,Freeman Chee,Transit Operator,69777.22,60584.96,8146.38,38480.23,138508.56,176988.79,2014,San Francisco,FT,88.494395
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37680,148212,Brelyn S Moody,Transit Operator,340.62,113.54,0.00,96.40,454.16,550.56,2014,San Francisco,PT,0.275280
37694,148226,Erris C Edgerly,Transit Operator,0.00,0.00,400.00,115.28,400.00,515.28,2014,San Francisco,PT,0.257640
37867,148399,Shane O'Connor,Transit Operator,151.38,56.77,0.00,42.84,208.15,250.99,2014,San Francisco,PT,0.125495
37932,148464,William Tam,Transit Operator,148.78,0.00,0.00,40.65,148.78,189.43,2014,San Francisco,PT,0.094715
38090,148622,Kenneth Mackey,Transit Operator,0.00,0.00,15.35,0.00,15.35,15.35,2014,San Francisco,PT,0.007675

In [38]:
t = (np.mean(transit_operator['hourly_wage']) - 35)/(np.std(transit_operator['hourly_wage'], ddof=1)/np.sqrt(len(transit_operator)))
print("The value of the statistic is: ",t)

The value of the statistic is:  19.064990324906383

In [39]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here: 

import scipy.stats as st

critical_value = scipy.stats.t.ppf(1-0.05, df=len(transit_operator)-1)
print("The critical value is {:.3f}".format(critical_value))

# The statistic is bigger than the critical value. Therefore, we reject the null hypothesis

The critical value is 1.645

In [40]:
# Method 2: Use the p-value method.
# Your code here:

degrees_of_freedom = len(transit_operator) - 1

p_val = 1 - st.t.cdf(t, degrees_of_freedom)
print('p-value: {:.3f}'.format(p_val))

# The p_value is smaller than the significance level (0.05). Therefore, we reject the null hypothesis.

p-value: 0.000

In [41]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

stat, pval = ttest_1samp(transit_operator['hourly_wage'], popmean = 35, alternative = "greater")
stat, pval 

# We got the same values as with the other methods. All methods are in agreement.

(19.064990324906383, 5.012771694204206e-76)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval.

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [42]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

hourly_wage = salaries_data['hourly_wage'].mean()
hourly_wage

50.130719334190296

In [43]:
confidence_level = 0.95
degrees_of_freedom = len(salaries_data) - 1
sample_standard_error = scipy.stats.sem(salaries_data['hourly_wage'])

confidence_interval = scipy.stats.t.interval(confidence_level,
                                             degrees_of_freedom,
                                             hourly_wage,
                                             sample_standard_error)
confidence_interval

(49.798255413084874, 50.46318325529572)

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [44]:
# Your code here:

police_jobs_hourly_wage = police_jobs['hourly_wage'].mean()
police_jobs_hourly_wage

74.17452106259863

In [45]:
confidence_level = 0.95
degrees_of_freedom = len(police_jobs) - 1
sample_standard_error = scipy.stats.sem(police_jobs['hourly_wage'])

confidence_interval = scipy.stats.t.interval(confidence_level,
                                             degrees_of_freedom,
                                             police_jobs_hourly_wage,
                                             sample_standard_error)
confidence_interval

(72.95787917364453, 75.39116295155273)

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [46]:
# Your code here: (Create the function)

def replace_job_title(job_title):
    '''
    Replaces the job title with a generic one
    '''

    if 'Police' in job_title:
        return 'Policemen'
    elif 'Fire' in job_title:
        return 'Firemen'
    elif 'Med' in job_title or 'Nurse' in job_title:
        return 'Medical'
    elif 'Attorney' in job_title:
        return 'Lawyer'
    else:
        return 'Other'

In [47]:
# Your code here: (Apply the function)

salaries_data['employee_group'] = salaries_data['JobTitle'].apply(lambda x: replace_job_title(x))
salaries_data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,hourly_wage,employee_group
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340,Other
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105,Medical
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180,Other
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610,Policemen
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550,Firemen

Determine how many "PT" and "FT" employess have all the employees groups.

In [71]:
# Your code here: (Store the output dataframe into a new variable)

status_group = salaries_data.pivot_table(index='employee_group', columns='Status', aggfunc='size', fill_value=0)
display(status_group)

Status             FT     PT
employee_group
Firemen          1333    178
Lawyer            317    102
Medical          1028   2889
Other           18126  12245
Policemen        1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [76]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

# We calculate the total because this will help us to calculate probabilities later
frequencies = status_group
frequencies['Total'] = frequencies['FT'] + frequencies['PT']
frequencies

Status             FT     PT  Total
employee_group
Firemen          1333    178   1511
Lawyer            317    102    419
Medical          1028   2889   3917
Other           18126  12245  30371
Policemen        1530    371   1901

In [96]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

n_obs = frequencies['Total'].sum() # Number of observations

p_firemen = frequencies.loc['Firemen', 'Total'] / n_obs # Probability of being a firemen

p_ft = frequencies['FT'].sum() / n_obs # Probability of being FT

firemen_ft = p_firemen * p_ft * n_obs # Expected frequency

firemen_ft

885.2979878800596

In [98]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

n_obs = frequencies['Total'].sum() # Number of observations

p_firemen = frequencies.loc['Firemen', 'Total'] / n_obs # Probability of being a firemen

p_pt = frequencies['PT'].sum() / n_obs # Probability of being PT

firemen_pt = p_firemen * p_pt * n_obs # Expected frequency

firemen_pt

625.7020121199403

In [99]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

n_obs = frequencies['Total'].sum() # Number of observations

p_lawyer = frequencies.loc['Lawyer', 'Total'] / n_obs # Probability of being a lawyer

p_ft = frequencies['FT'].sum() / n_obs # Probability of being FT

lawyer_ft = p_lawyer * p_ft * n_obs # Expected frequency

lawyer_ft

245.49295626852748

In [100]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

n_obs = frequencies['Total'].sum() # Number of observations

p_lawyer = frequencies.loc['Lawyer', 'Total'] / n_obs # Probability of being a lawyer

p_pt = frequencies['PT'].sum() / n_obs # Probability of being PT

lawyer_pt = p_lawyer * p_pt * n_obs # Expected frequency

lawyer_pt

173.5070437314725

In [101]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

n_obs = frequencies['Total'].sum() # Number of observations

p_medical = frequencies.loc['Medical', 'Total'] / n_obs # Probability of being medical

p_ft = frequencies['FT'].sum() / n_obs # Probability of being FT

medical_ft = p_medical * p_ft * n_obs # Expected frequency

medical_ft

2294.9783047823917

In [102]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

n_obs = frequencies['Total'].sum() # Number of observations

p_medical = frequencies.loc['Medical', 'Total'] / n_obs # Probability of being medical

p_pt = frequencies['PT'].sum() / n_obs # Probability of being PT

medical_pt = p_medical * p_pt * n_obs # Expected frequency

medical_pt

1622.021695217608

In [103]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

n_obs = frequencies['Total'].sum() # Number of observations

p_other = frequencies.loc['Other', 'Total'] / n_obs # Probability of being other

p_ft = frequencies['FT'].sum() / n_obs # Probability of being FT

other_ft = p_other * p_ft * n_obs # Expected frequency

other_ft

17794.430966184842

In [104]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

n_obs = frequencies['Total'].sum() # Number of observations

p_other = frequencies.loc['Other', 'Total'] / n_obs # Probability of being other

p_pt = frequencies['PT'].sum() / n_obs # Probability of being PT

other_pt = p_other * p_pt * n_obs # Expected frequency

other_pt

12576.569033815158

In [105]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

n_obs = frequencies['Total'].sum() # Number of observations

p_policemen = frequencies.loc['Policemen', 'Total'] / n_obs # Probability of being policemen

p_ft = frequencies['FT'].sum() / n_obs # Probability of being FT

policemen_ft = p_policemen * p_ft * n_obs # Expected frequency

policemen_ft

1113.7997848841785

In [106]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

n_obs = frequencies['Total'].sum() # Number of observations

p_policemen = frequencies.loc['Policemen', 'Total'] / n_obs # Probability of being policemen

p_pt = frequencies['PT'].sum() / n_obs # Probability of being PT

policemen_pt = p_policemen * p_pt * n_obs # Expected frequency

policemen_pt

787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [110]:
# Your code here:

# Create lists

frequencies_ft_employees = [firemen_ft, lawyer_ft, other_ft, medical_ft, policemen_ft]
frequencies_pt_employees = [firemen_pt, lawyer_pt, other_pt, medical_pt, policemen_pt]

In [111]:
# Create dictionary

frequencies_dict = {'FT' : frequencies_ft_employees, 'PT': frequencies_pt_employees}
frequencies_dict

{'FT': [885.2979878800596,
  245.49295626852748,
  17794.430966184842,
  2294.9783047823917,
  1113.7997848841785],
 'PT': [625.7020121199403,
  173.5070437314725,
  12576.569033815158,
  1622.021695217608,
  787.2002151158215]}

In [114]:
# Create dataframe

frequencies_df = pd.DataFrame(frequencies_dict)
frequencies_df

             FT            PT
0    885.297988    625.702012
1    245.492956    173.507044
2  17794.430966  12576.569034
3   2294.978305   1622.021695
4   1113.799785    787.200215

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [124]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

# Calculating chi2
scipy.stats.chi2_contingency(status_group) # We use this dataframe instead of frequencies_df because we need ACTUAL frequencies instead of the expected ones

Chi2ContingencyResult(statistic=2676.642333711905, pvalue=0.0, dof=8, expected_freq=array([[  885.29798788,   625.70201212,  1511.        ],
       [  245.49295627,   173.50704373,   419.        ],
       [ 2294.97830478,  1622.02169522,  3917.        ],
       [17794.43096618, 12576.56903382, 30371.        ],
       [ 1113.79978488,   787.20021512,  1901.        ]]))

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function

In [126]:
# Expected frequencies agree with the ones obtained from the chi2 test
# p_value < alpha (0.05)
# Therefore, null hypothesis is rejected. There's relationship between employees is significant.